.hoverDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #99cc66;
  border-radius: 10px;
  padding: 10px;

  .text,
  .textClicked {
    display: none;
  }

  &:hover {
    background-color: #99cc66;
    width: 110px;

    .text {
      display: block;
      font-size: 14px;
      color: #ffffff;
      padding-right: 7px;
    }
  }

  &.clicked {
    background-color: #f5f5f8;
    width: 110px;

    .textClicked {
      display: block;
      font-size: 14px;
      color: #696974;
      padding-left: 7px;
    }
  }
}

.DomainItems {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  background-color: #ffffff;
  &.hoveredBackground {
    background-color: #f5f5f8;
    border-radius: 10px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 20px 10px;
  }
}

.priceBox {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.rightSec,
.lefttSec {
  display: flex;
  align-items: center;
}

.domainName {
  padding-left: 20px;
}

.priceGel {
  font-size: 16px;
  font-weight: bold;
  color: #171725;
}

.priceUsd {
  font-size: 12px;
  color: #696974;
}
