body.Main {
  // width: 100%;
  background: #fafafb;
  margin: 0;
  box-sizing: border-box;
  font-family: Regular;
}

@font-face {
  font-family: 'Medium';
  src: url('./core/fonts/TKT-Medium.ttf') format('TTF');
}

@font-face {
  font-family: 'Regular';
  src: url('./core/fonts/TKT-Regular.ttf') format('TTF');
}
