.Container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  border-bottom: 1px solid #f1f1f5;
  padding: 0 30px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0px 20px;
  max-width: 1286px;
  margin: 0 auto;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}

.ProfileSec {
  display: flex;
  div:not(:last-child) {
    margin-right: 20px;
  }
}

.Count {
  position: absolute;
  font-size: 11px;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
}

.Cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 46px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #f1f1f5;
  border-radius: 12px;
  opacity: 1;
}

.Logo {
  display: flex;
  align-items: center;
  img:not(:last-child) {
    margin-right: 14px;
  }
}

.Box {
  // padding: 12px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 46px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #f1f1f5;
  border-radius: 12px;
  opacity: 1;
}

.UserName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 46px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #f1f1f5;
  border-radius: 12px;
  opacity: 1;
  span {
    margin: 0 10px;
    color: #696974;
    font-size: 14px;
    font-family: Regular;
  }
}

@media (max-width: 900px) {
  .Container {
    position: unset;
    padding: 28px 20px;
  }
  .Header {
    padding: 0;
  }
}
