.MainContainer {
  display: flex;
  justify-content: space-between;
  margin: 28px auto 30px;
  padding: 0 30px;
  max-width: 1286px;
}

.ListBox {
  width: 100%;
  max-width: 865px;
  margin-left: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #f1f1f5;
  border-radius: 15px;
  padding: 10px 40px;

  .Items {
    section:not(:last-child) {
      border-bottom: 1px solid #f1f1f5;
    }
  }
}

.shown {
  display: block;
}
.hidden {
  display: none;
}

.FilterBox {
  width: 100%;
  max-width: 380px;
  margin-right: 20px;
  padding: 35px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #f1f1f5;
  border-radius: 15px;
}

.ListHeader {
  display: flex;
  margin: 0 auto;
  max-width: 1286px;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  button {
    background: #ffffff;
    border: 1px solid #e5e5ed;
    border-radius: 10px;
    padding: 11px 13px;
    img {
      padding-left: 40px;
    }
  }
}

.Quantity {
  width: 100%;
  max-width: 380px;
  margin-right: 20px;
  color: #696974;
  font-weight: 500;
  b {
    color: #171d25;
  }
}

.HeaderFilter {
  width: 100%;
  max-width: 865px;
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  b {
    color: #171725;
    font-size: 14px;
  }
  div {
    display: flex;
    align-items: center;
  }
  a {
    color: #171725;
    font-size: 14px;
  }
  span {
    margin-left: 18px;
    font-size: 14px;
    color: #92929d;
    img {
      padding-left: 7px;
    }
  }

  span:active,
  span:focus,
  .active {
    color: #99cc66;
  }
}
.NoResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
  p {
    color: #696974;
    font-size: 18px;
    font-weight: bold;
  }
  span {
    color: #92929d;
    font-size: 14px;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .HeaderFilter {
    span {
      margin-left: 5px;
    }
  }
}

@media (max-width: 768px) {
  .ListHeader {
    padding: 0 20px;
  }
  .MainContainer {
    padding: 0;
  }
  .ListBox {
    margin: 0;
    padding: 0 20px;
    border-radius: unset;
    border: unset;
  }
}
