.BannerSec {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 186px;
  background-image: url('/images/baner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  border-radius: 15px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      transparent url('/images/baner.jpg') center/cover no-repeat;
    border-radius: 15px;
  }
}

.BannerBox {
  margin: 30px auto 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1286px;
  box-sizing: border-box;
}

.BannerTxt {
  color: #ffffff;
  padding: 65px 0;
  font-size: 36px;
  font-weight: 500;
  z-index: 11;
}

@media (max-width: 1300px) {
  .BannerBox {
    margin: 30px 30px 40px;
  }
}

@media (max-width: 768px) {
  .BannerBox {
    margin: 81px 0px 20px;
  }
  .BannerSec {
    border-radius: unset;
    background-image: url('/images/baner-mob.jpg');
    &::before {
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        transparent url('/images/baner-mob.jpg') center/cover no-repeat;
      border-radius: unset;
    }
  }

  .BannerTxt {
    font-size: 20px;
    padding: 30px 100px;
    text-align: center;
  }
}
