.priceSlider {
  width: 100%;
  h4 {
    font-size: 16px;
    color: #171d25;
    margin: 35px 0 15px;
  }
}

.rangeTrack {
  height: 2px;
  border-radius: 5px;
  display: flex;
  width: 100%;
}

.rangeThumb {
  width: 25px;
  height: 25px;
  background-color: #99cc66;
  border-radius: 50%;
  cursor: pointer;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  width: 100%;

  .inputWrapper {
    position: relative;
    width: calc(50% - 10px);
    max-width: 160px;
  }

  input {
    width: 100%;
    font-size: 16px;
    color: #171d25;
    font-family: 'TKT-Regular';
    border: 1px solid #e5e5ed;
    border-radius: 10px;
    padding: 12px 15px;
    padding-right: 30px;
    max-width: 160px;
    box-sizing: border-box;
  }

  input:not(:last-child) {
    margin-right: 15px;
  }

  .currencySymbol {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
  }
}
